{
	"plugins": ["prettier-plugin-svelte"],
	"pluginSearchDirs": ["."],
	"useTabs": true,
	"singleQuote": false,
	"trailingComma": "es5",
	"printWidth": 100,
	"bracketSpacing": true,
	"overrides": [
		{
			"files": "*.svelte",
			"options": {
				"parser": "svelte"
			}
		}
	]
}
